body{
    position: relative;
    left: 5%;
    width: 90%;
    

}

#logo1{
    margin: 25px 5% 10px 0%;
}
header{
    width: 100%;

}
.nav1{
    display: inline-block;
    position: relative;
    top: 5px;
    

}

.nav1 a{
    text-decoration: none;
    color: black;
    margin: 0px 15px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto';
}

#login-nav{
    /* display: inline-block; */
    position: relative;
    top: 5px;    
float: right;
margin-top: 22px;

}

#login-nav a{
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    
 }

 #signup{
     background-color: #FFE01B;
     padding: 11px 15px;
     font-weight: bolder;
     font-family: 'Roboto';
 }

 .input-group{
     top: 32px;
     

 }

 #form1{
     width: 570px;
     height: 45px;
     
 }

 .form-label{
     margin-top: 5px;
color: black;
font-weight: bolder;

 }

 #sort{
     float: right;
     position: relative;
     bottom: 20px;
 }

 #sort form,p{
     display: inline-block;
     padding: 5px;
 }

 #sort form select{
     width: 210px;
     height: 45px;
    padding: 10px 40px 10px 8px;
}

#search-sort{
    height: 100px;
}

#sort p{
    color: #9F9FB7 ;
    font-weight: bolder;
}

#title{
    color: black;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 15px 0px;
}

#main-section{
    margin-top: 55px;
    
}

#first-div{
    width: 22.24%;
    display: inline-block;
}

#second-div{
    width: 76%;
    display: inline-block;
    position: relative;
    top: -192px;
    padding: 0px 0px 20px 50px;
}


#first-div{
    font-weight: bold;
    
}
#date-filter{
    border: 1px solid black;

}
#first-div div li{
display: inline-block;
border-right: 1px solid black;
padding: 8.35px;
text-align: center;
}

#vector{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: smaller;
    
}
#vector img{
    padding-left: 10px;
}

/* search location */

.location-filter{
    width: 100%;
    margin-top: -44px;
}

#checkbox-location{
    margin-top: 40px;
}

#checkbox-location div{
    padding: 7px 0px;
}

#checkbox-location div input[type="checkbox"] {
        accent-color: #FFE01B ;    
}

#rating{
    margin-top: -30px;
}
#rating div{
    margin: 20px 0px;

}
#rating div img{
    padding: 0px 2px;
}

#rating div input[type="checkbox"] {
    accent-color: #FFE01B ;    
}


footer{
    height: 200px;
}